@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO AAROGYAM MULTISPECIALTY HOSPITAL</h1>
    <br />
    <h3><u>Latest News</u></h3>
    <p><strong>Cath lab started at Aarogyam Hospital Modinagar.</strong>All cardiac procedures like Coronary Angiography,  Angioplasty, Pacemaker implantation, BMV, Peripheral Angiography etc are available round the clock.</p>
</div>
